<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<%= link_to "Edit", edit_article_path(@article), class: 'fa fa-edit btn btn-default' %>


<%= link_to " Delete", article_path(@article), method: :delete, class: 'fa fa-trash btn btn-default'  %>


<%= link_to " Home", articles_path, class: 'fa fa-home btn btn-default' %>





<!-- link_to article.title, article_path(article), class: 'article_title'  -->

